/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

img {
  max-width: 100%;
}

/* MAIN */

.products > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;

  /* debug */
  background-color: #15616dff;
  min-height: 600px;
}

/* CARD */

.products .card {
  flex: 0 0 30%;
  min-width: 300px;
  position: relative;

  /* debug */
  background-color: #ff7d00ff;
  min-height: 300px;
  border: 1px dashed black;
}

/* CARD FLOATS */

.card-heart {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 2rem;
  padding: 5px 15px;
  background-color: white;
}

.card-discount {
  position: absolute;
  bottom: 150px;
  left: 0;
  max-width: fit-content;

  /* debug */
  background-color: #62b5b5ff;
}

.card-greenwashing {
  position: absolute;
  bottom: 130px;
  left: 0;
  max-width: fit-content;

  /* debug */
  background-color: #ffecd1ff;
}

/* CARD HOVER */

.card-img-alt {
  display: none;
}

.card:hover .card-img {
  display: none;
}

.card:hover .card-img-alt {
  display: block;
}

.card-heart:hover {
  color: red;
}
