/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

/* MAIN */

.products > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;

  /* debug */
  background-color: #15616dff;
  min-height: 600px;
}

.products .card {
  flex: 0 0 30%;
  min-width: 300px;

  /* debug */
  background-color: #ff7d00ff;
  min-height: 300px;
}
